/* .display{
    position: relative;
    left:40%;
    top:5vh;
    margin:4vh 0;
    color:white;
    font-size:1.3em;
} */
.display{
    color:white;
    font-size:1.3em;
}
/* 
span{
    padding:10px;
    margin:10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
} */

button{
    background:yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:0.8em;
    width:100px;
    height:40px;
}

button:active{
    background:white;
}
button:hover{
    color:white;
}
/* 
#up{
    position:relative;
    left:50px;} */

    table{
        position: relative;
        top:10vh;
        table-layout: fixed;
        width:100%;
        text-align:center;
    }